body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow-y: scroll;
  background-color: black;
}

header {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url(./assets/header-image.jpg);
  background-position: right top;
  background-size: cover;
  color: white;
}

.header-text {
  position: absolute;
  width: 100%;
  top: 30%;
}

h1,
h2 {
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

span {
  color: white;
}

@media only screen and (min-width: 600px) {
  .large {
    font-size: 56px;
  }
}

.large {
  font-size: 48px;
}

.medium {
  font-size: 30px;
}

.divider {
  width: 100%;
  height: 40vh;
}

.section-title {
  margin: 30px;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  max-width: 450px;
  margin: auto;
}

.headshot {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 20px auto;
}

@media only screen and (max-width: 1785px) {
  .portfolio {
    display: block;
    overflow-x: scroll;
  }
}

@media only screen and (min-width: 1785px) {
  .arrow {
    visibility: hidden;
  }
  .projects-container {
    width: 100%;
    justify-content: space-around;
  }
}

.portfolio {
  width: 100vw;
}

.portfolio::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: black;
}

.portfolio::-webkit-scrollbar {
  height: 8px;
  background-color: black;
}

.portfolio::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black;
  border: 1px solid #222222;
  visibility: hidden;
}

.portfolio:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.projects-container {
  display: flex;
  padding-bottom: 20px;
}

.project {
  margin: 0px 10px;
  text-align: center;
  color: white;
}

.portfolio-img {
  width: auto;
  height: 400px;
}

.icon-wrapper {
  text-align: center;
  width: 48px;
  height: 48px;
  margin: auto;
}

.arrow,
.email {
  width: 40px;
  height: 40px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: all 0.3s ease-in-out;
}

.icon {
  width: 36px;
  height: 36px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: all 0.3s ease-in-out;
}

.icon:hover,
.email:hover {
  transform: scale(1.2);
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}
