body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow-y: scroll;
  background-color: black;
}

header {
  text-align: center;
  min-height: 900px;
  height: auto;
  width: 100%;
  background-image: url(./assets/header-image.jpg);
  background-position: center top;
  background-size: cover;
  color: white;
}

.header-text {
  position: absolute;
  width: 100%;
  top: 30%;
}

a {
  color: white;
  text-decoration: none;
}

span {
  color: white;
}

.large {
  font-size: 56px;
}

.medium {
  font-size: 30px;
}

.divider {
  width: 100%;
  height: 40vh;
}

.section-title {
  margin: 30px;
  text-align: center;
}

.about {
  text-align: center;
  max-width: 450px;
  margin: auto;
}

.headshot {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 20px;
}

.portfolio {
  margin: 20px;
  overflow-x: scroll;
}

.projects-container {
  display: flex;
  width: 1500px;
  padding-bottom: 20px;
}

.project {
  border: 1px black solid;
  margin: 0px 10px;
  text-align: center;
}

.portfolio-img {
  width: auto;
  height: 400px;
}

.icon {
  width: 30px;
  padding: 5px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: black;
}
